body {
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    color: F9DF74;
}

.jumbotron jumbotron-fluid {
    margin: 5px;
    border: 0px;
    padding: 5px;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}


.tarsier {
    width: 300px;
    height:300px;
}

.about {
    margin: 5px:
    padding: 5px;
}

.projects {
    display: inline-block;
    justify-content: space-between;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2 100px);
}

.card-body:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}